body {
  font-family: "Times New Roman", serif;
}

h1 {
  font: bold 135% Arial, sans-serif;
  color: #4000a0;
  margin-bottom: 0.9em;
}

h2 {
  font: bold 95% Arial, sans-serif;
  color: #900000;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

dl.param dt {
  text-decoration: underline;
}

dl.param dd {
  margin-top: 1em;
  margin-bottom: 1em;
}

dl.param ul {
  margin-top: 1em;
  margin-bottom: 1em;
}

tt,
code,
kbd {
  font-family: "Courier New", Courier, monospace;
  font-size: 82%;
}

div.source {
  margin-top: 1.4em;
  margin-bottom: 1.3em;
}

div.source pre {
  display: table;
  border: 1px solid #24246a;
  width: 100%;
  margin: 0em;
  font-family: inherit;
  font-size: 100%;
}

div.source code {
  display: block;
  border: 1px solid #c5c5ec;
  background-color: #f0f5ff;
  padding: 6px;
  color: #000000;
}

div.doc-source {
  margin-top: 1.4em;
  margin-bottom: 1.3em;
}

div.doc-source pre {
  display: table;
  width: 100%;
  margin: 0em;
  font-family: inherit;
  font-size: 100%;
}

div.doc-source code {
  display: block;
  background-color: #e0e0e0;
  padding: 4px;
}

.kw {
  color: #000080;
  font-weight: bold;
}

.str {
  color: #cc0000;
}

.cmt {
  color: #008000;
}

p.demo {
  text-align: center;
  margin-top: -0.9em;
}

a.demo {
  text-decoration: none;
  font-weight: bold;
  color: #0000cc;
}

a.demo:link {
  text-decoration: none;
  font-weight: bold;
  color: #0000cc;
}

a.demo:hover {
  text-decoration: none;
  font-weight: bold;
  color: #0000ff;
}

a.demo:active {
  text-decoration: none;
  font-weight: bold;
  color: #0000ff;
}
