php_value display_errors Off
php_value mbstring.http_input auto
php_value date.timezone America/New_York
RewriteEngine On
RewriteBase /
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
Options -Indexes
ErrorDocument 400 https://athena-dbms.42web.io/error/400.htm
ErrorDocument 401 https://athena-dbms.42web.io/error/401.htm
ErrorDocument 403 https://athena-dbms.42web.io/error/403.htm
ErrorDocument 404 https://athena-dbms.42web.io/error/404.htm
ErrorDocument 501 https://athena-dbms.42web.io/error/501.htm
ErrorDocument 503 https://athena-dbms.42web.io/error/503.htm
php_value post_max_size 1000M
php_value upload_max_filesize 1000M
